/*#logout
{
	height: 20px;
	width: 20px;
}*/

#welcoming
{
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}

#poster
{
	width: 320px;
	height: 380px;
	margin-top: 20px;
	border: 2px 2px solid black;
  	border-radius: 10px;
  	padding-top: 20px;
}

#title
{
	font-size: 25px;
	text-decoration: underline;
	padding-right: : 120px;
	color: red;
	font-family: 'Ubuntu', sans-serif;
	margin-right: 45px;
}

#add_button
{
	margin-top: 30px;
	margin-left: : 100px;
	margin-right: 300px;
}

#list_button
{
	/*margin-bottom: 100px;*/
	margin-right: 80px;
}

#features
{
	margin-left: 40px;
}

#button_size
{
	
}

